.fa.fa-fw.fa-map-marker{
    display:none;
}

.author__urls-wrapper{
    margin-top: -20px;
}

.archive{
    padding-right: 16.9491525424%;
}

sidebar img{
	width: 100%;
}

.author__avatar{
	display: block;
	width: 72px;
}

.author__content{
	display: block;
}
